.img1 {
  width: 60px;
  display: flex;
  z-index: 4;
  margin-top: -5px;
}

.gk {
  padding-left: 20px;
  transition: font-size 0.5s ease;
  color: #a60020;
  font-size: 30px;
}
.gk:hover {
  font-size: 32px;
}
.active-link {
  font-size: 18px;
  color: #cb022a !important;
  text-shadow: 0px 0px 2px #000000;
}
.nav-link {
  color: white; /* Set the default text color to white */
  transition: font-size 0.5s ease;
  text-decoration: none; /* Remove underline or any default text decoration */
}
.nav-link:hover {
  font-size: 18px;
}
#bottone1 {
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #d90000;
}
.navbar {
  background-color: #2c2c2c !important;
}
#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #d90000;
}

@media screen and (min-width: 1001px) {
  #ul1 {
    margin-left: 200px;
  }
  #li1,
  #li2 {
    padding-right: 40px;
  }
}
@media screen and (max-width: 1001px) {
  .gk {
    padding-left: 40px;
    color: #a60020;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  /* Custom styles for smaller screens */
  .navbar-nav-scroll {
    max-height: none; /* Adjust as needed */
  }
}
