<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a [routerLink]="['/home']" class="navbar-brand">
          <img
            class="img1"
            src="assets/images/GKMusic Logo.png"
            alt="loading"
          />
        </a>
        <a class="gk navbar-brand" [routerLink]="['/home']">GKMusic</a>
        <button
          id="navbar-toggler"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            id="ul1"
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll max-height-100"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item" id="li1">
              <a
                class="nav-link"
                [routerLink]="['/home']"
                routerLinkActive="active-link"
                >Home</a
              >
            </li>
            <li class="nav-item" id="li2">
              <a
                class="nav-link"
                [routerLink]="['/about']"
                routerLinkActive="active-link"
                >About us</a
              >
            </li>
            <li class="nav-item" id="li2">
              <a
                class="nav-link"
                [routerLink]="['/contact']"
                routerLinkActive="active-link"
                >Contact us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active-link"
                style="cursor: pointer"
                (click)="onMusicLinkClick()"
                >Music</a
              >
            </li>
          </ul>

          <div class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [(ngModel)]="searchText"
            />
            <button class="btn btn-outline-dark">Search</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
