<div
  class="container1"
  [style.backgroundImage]="'url(' + backgroundImagePath + ')'"
>
  <div class="row">
    <div>
      <div
        style="
          text-align: center;
          font-family: Avenir Next Bold;
          color: #e3c936;
        "
      >
        <h4>NEW SONG COMING SOON</h4>
      </div>
      <div
        class="card"
        style="width: 18rem; cursor: pointer"
        (click)="onClick()"
      >
        <img class="card-img-top" [src]="Song.images[0]" alt="Card image cap" />
        <div class="play">
          <a [href]="Song.link" class="btn btn-light">Play Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
