<div class="container1">
  <div class="row">
    <div>
      <div
        style="
          text-align: center;
          font-family: Avenir Next Bold;
          color: #e3c936;
        "
      >
        <h4>NEW ALBUM OUT NOW</h4>
      </div>
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/assets/images/Iman_tu.jpg"
          alt="Card image cap"
        />
        <div class="play">
          <a href="#" class="btn btn-light">Play Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
