.play {
  position: absolute;
  bottom: -16px;
  left: 32%;
}
.title {
  position: absolute;
  right: 250px;
}
//--------------------
.container1 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  padding-right: 200px;
}
