/* song-page.component.css */
.page-container {
  background: linear-gradient(#f8f9fa, #2c2c2c);
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: 100px;
  left: 50px;
  text-decoration: none;
  border: none !important;
  font-size: 18px;
  font-weight: bold;
}

.back-button i {
  margin-right: 5px;
}
/* Add this CSS to your stylesheet */

.card-img {
  transition: transform 0.8s ease;
}

.card-img:hover {
  transform: scale(1.2);
}
.img-container {
  overflow: hidden !important;
  border-radius: 5px;
}
@media screen and (max-width: 999px) {
  .back-button {
    display: none;
  }
}
